[submodule "3rdparty/assimp"]
	path = 3rdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "3rdparty/tinyddsloader"]
	path = 3rdparty/tinyddsloader
	url = https://github.com/benikabocha/tinyddsloader.git
